/* ------------------------ */
/*      PRIMARY COLORS      */
/* ------------------------ */
/* ------------------------ */
/*      SECONDARY COLOR     */
/* ------------------------ */
/* ------------------------ */
/*     LIGHT GREY COLORS    */
/* ------------------------ */
/* ------------------------ */
/*     DARK GREY COLORS     */
/* ------------------------ */
/* ------------------------ */
/*        FONT FAMILY       */
/* ------------------------ */
/* ------------------------ */
/*        BREAKPOINTS       */
/* ------------------------ */
/*
 * Respond to all breakpoints
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 37.43em) {
  html {
    font-size: 43.75%;
  }
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

input {
  font-family: inherit;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6d5d4b;
}

.heading-2 {
  color: #c69963;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.heading-2--center {
  text-align: center;
}
.heading-2--mb-small {
  margin-bottom: 2rem;
}
.heading-2--mb-medium {
  margin-bottom: 4rem;
}

/* ------------------------ */
/*        TYPOGRAPHY        */
/* ------------------------ */
.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: min-content 1fr;
}

.header {
  background-image: linear-gradient(90deg, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center center;
  padding: 3rem 5rem;
}
.header__logo-box {
  width: 15rem;
  margin: auto;
}
.header__heading {
  font-weight: 300;
  margin: 5rem 0 2rem;
}
.header__heading > span {
  display: block;
}
.header__heading--main {
  font-size: 2.5rem;
  color: #c69963;
  text-transform: uppercase;
}
.header__heading--sub {
  font-size: 4.5rem;
  color: #f9f7f6;
}
.header__seen-on {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.header__line {
  flex: 1;
  background-color: #aaa;
  height: 1px;
}
.header__seen-on-sentence {
  color: #aaa;
  font-size: 1.5rem;
  padding: 2rem;
}
.header__seen-on-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  justify-items: center;
}
.header__seen-on-logo {
  max-width: 15rem;
  filter: brightness(0.8);
}

.sidebar-navigation {
  grid-row: 1/-1;
  background-color: #c69963;
  padding: 3rem 1.2rem;
}
.sidebar-navigation__icon {
  position: relative;
  display: block;
  width: 4rem;
  height: 2px;
  background-color: #f9f7f6;
}
.sidebar-navigation__icon::before {
  top: -1rem;
}
.sidebar-navigation__icon::before, .sidebar-navigation__icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
}
.sidebar-navigation__icon::after {
  bottom: -1rem;
}

.realtors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  background-color: #101d2c;
}
.realtors__realtor {
  display: grid;
  grid-template-columns: min-content max-content;
  gap: 2rem;
}
.realtors__realtor:not(:last-of-type) {
  margin-bottom: 3rem;
}
.realtors__realtor-picture-box {
  width: 6rem;
}
.realtors__realtor-picture {
  border-radius: 50%;
}
.realtors__realtor-infos {
  align-self: center;
}
.realtors__realtor-name {
  font-size: 1.8rem;
  font-weight: 400;
  color: #f9f7f6;
}
.realtors__realtor-houses {
  font-size: 1.04rem;
  text-transform: uppercase;
  color: #aaa;
}

.footer {
  grid-column: 2/-1;
  background-color: #101d2c;
  padding: 10rem 5rem;
}
.footer__list {
  margin-bottom: 4rem;
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
  color: #f9f7f6;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.footer__link:link:hover, .footer__link:visited:hover {
  background-color: rgba(249, 247, 246, 0.2);
  transform: translateY(-1rem);
}
.footer__link:link:active, .footer__link:visited:active {
  background-color: rgba(249, 247, 246, 0.1);
  transform: translateY(-0.8rem);
}
.footer__copyright {
  color: #aaa;
  font-size: 1.3rem;
}

/* ------------------------ */
/*     HEADER CONTAINER     */
/* ------------------------ */
.header-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, min-content);
}

/* ------------------------ */
/*     SECTION FEATURES     */
/* ------------------------ */
.section-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  padding: 10rem 5rem;
}

/* ------------------------ */
/*      SECTION HOUSES      */
/* ------------------------ */
.section-houses {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #f9f7f6;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1.5rem 3rem;
  background-color: #c69963;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
}
.btn--block {
  display: block;
  text-align: center;
}

.feature {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: min-content 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;
}
.feature__icon {
  width: 4rem;
  height: 4rem;
  fill: #c69963;
}
.feature__title {
  align-self: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.feature__text {
  grid-column: 2/-1;
  font-size: 1.4rem;
}

.gallery {
  padding: 10rem 2rem;
  background-color: #f9f7f6;
  display: grid;
  grid-template-rows: repeat(7, [row-start] 1fr [row-end]);
  grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
  gap: 2rem;
  align-items: stretch;
}
.gallery__picture {
  object-fit: cover;
}
.gallery__picture--1 {
  grid-row: row-start 1/row-end 2;
  grid-column: col-start 1/col-end 2;
}
.gallery__picture--2 {
  grid-row: row-start 1/row-end 3;
  grid-column: col-start 3/col-end 5;
}
.gallery__picture--3 {
  grid-row: row-start 1/row-end 2;
}
.gallery__picture--4 {
  grid-row: row-start 1/row-end 2;
  grid-column: col-start 7/col-end 8;
}
.gallery__picture--5 {
  grid-row: row-start 3/row-end 5;
  grid-column: col-start 1/col-end 2;
}
.gallery__picture--6 {
  grid-row: row-start 4/row-end 5;
  grid-column: col-start 3/col-end 4;
}
.gallery__picture--7 {
  grid-row: row-start 4/row-end 4;
  grid-column: col-start 5/col-end 5;
}
.gallery__picture--8 {
  grid-row: row-start 3/row-end 4;
  grid-column: col-start 6/col-end 7;
}
.gallery__picture--9 {
  grid-row: row-start 3/row-end 4;
  grid-column: col-start 8/-1;
}
.gallery__picture--10 {
  grid-row: row-start 6/row-end 7;
  grid-column: col-start 1/col-end 1;
}
.gallery__picture--11 {
  grid-row: row-start 6/row-end 7;
  grid-column: col-start 2/col-end 3;
}
.gallery__picture--12 {
  grid-row: row-start 6/row-end 7;
  grid-column: col-start 4/col-end 4;
}
.gallery__picture--13 {
  grid-row: row-start 5/row-end 7;
  grid-column: col-start 5/col-end 7;
}
.gallery__picture--14 {
  grid-row: row-start 5/row-end 7;
}

.house {
  position: relative;
}
.house__title {
  width: max-content;
  padding: 1.5rem 4rem;
  background-color: #101d2c;
  color: #f9f7f6;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.house__characteristics {
  background-color: #f9f7f6;
  padding: 6rem 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
}
.house__characteristic {
  display: flex;
  font-size: 1.3rem;
}
.house__icon {
  width: 2rem;
  height: 2rem;
  fill: #c69963;
  margin-right: 1rem;
}
.house__icon--heart {
  margin: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story__pictures {
  background: linear-gradient(90deg, rgba(178, 132, 81, 0.7), rgba(198, 153, 99, 0.7)), url(../img/back.jpg) center center/cover;
  position: relative;
}
.story__picture {
  position: absolute;
}
.story__picture--centered {
  max-width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story__picture--bottom-right {
  max-width: 50%;
  bottom: 5%;
  right: -5%;
}
.story__content {
  background-color: #f9f7f6;
  padding: 7rem;
}
.story__short-quote {
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
  color: #54483a;
}
.story__long-quote {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 4rem;
}

/*# sourceMappingURL=main.css.map */
