.footer {
  grid-column: 2 / -1;

  background-color: $color-secondary;

  &__list {
    margin-bottom: 4rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;

    padding: 2rem;
    color: $color-grey-light-1;
    font-size: 1.4rem;

    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba($color-grey-light-1, 0.2);
      transform: translateY(-1rem);
    }

    &:active {
      background-color: rgba($color-grey-light-1, 0.1);
      transform: translateY(-0.8rem);
    }
  }

  &__copyright {
    color: $color-grey-light-2;
    font-size: 1.3rem;
  }
}
