.feature {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: min-content 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: $color-primary-light;
  }

  &__title {
    align-self: center;

    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;

    @include respond($bp-tablet-port) {
      font-size: 2.2rem;
    }
  }

  &__text {
    grid-column: 2 / -1;

    font-size: 1.4rem;

    @include respond($bp-tablet-port) {
      font-size: 1.8rem;
    }
  }
}
