/* ------------------------ */
/*     HEADER CONTAINER     */
/* ------------------------ */
.header-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, min-content);
}

/* ------------------------ */
/*     SECTION FEATURES     */
/* ------------------------ */
.section-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;

  padding: 10rem 5rem;
}

/* ------------------------ */
/*       SECTION STORY      */
/* ------------------------ */
.section-story {
  background-color: magenta;
}

/* ------------------------ */
/*      SECTION HOUSES      */
/* ------------------------ */
.section-houses {
  background-color: brown;
}

.section-gallery {
  background-color: crimson;
}
