/* ------------------------ */
/*     HEADER CONTAINER     */
/* ------------------------ */
.header-container {
  display: grid;
  grid-template-columns: 1fr max-content;

  @include respond($bp-tablet-port) {
    display: block;
  }
}

/* ------------------------ */
/*     SECTION FEATURES     */
/* ------------------------ */
.section-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

/* ------------------------ */
/*      SECTION HOUSES      */
/* ------------------------ */
.section-houses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}
